﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>sheKNOWSrunning - A GirlsRunFast Company"</title>
    <meta name="Keywords" content="running jewelry, runner girl necklace, shut up and run, run like a girl, Girls Run Fast, Girls Run Faster, Girls Run, Girls Run Really Fast, Running, Runners, Running Jewelry, Jewelry, Womens Jewelry, Women's Jewelry, Women Jewelry, Ladies Jewelry, Jewelry for Women, Mens Jewelry, Kids Jewelry, Girls, Run, Runn, Runnin, girlsrunfast.com, sports jewelry, Silver Running Necklaces, running necklaces, marathon necklaces, half marathon necklaces, 5k necklaces, 10k necklaces, ultra marathon necklaces, ultra runners necklaces, marathon runners necklaces, half marathon runners necklaces, 5k runners necklaces, runners necklaces, necklaces for runners, yoga jewelry, dance jewelry, swimming jewelry and gymnastics jewelry">
    <meta name="description" content="Custom made, handcrafted sterling silver running jewelry. Sports jewelry for running, yoga, dancing, swimming, or gymnastics.  Girls Run Fast! ... look good while doing it!">
    <meta name="Copyright" content="Copyright 1996-2013 Girlsrunfast.com.com">
    <meta name="classification" content="Running Jewelry, Jewelry, Running, marathon, 10k, 5k">
    <meta name="Revisit" content="after 7 days">
    <meta name="robots" content="ALL">
    <meta name="robots" content="index,follow">
    <meta name="page-topic" content="Running Jewelry, Running and Jewelry, Sports Jewelry">
    <meta name="distribution" content="Arizona">
    <meta name="Expires" content="never">
    <meta http-equiv="Pragma" content="cache">
    <meta http-equiv="Content-Language" content="en">
    <meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="Content/style.css" rel="stylesheet" type="text/css">
    <link href="Content/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="Content/responsive.css" rel="stylesheet" type="text/css">
    <link href="Content/animate.css" rel="stylesheet" type="text/css">

    <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

    <script type="text/javascript" src="Scripts/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="Scripts/jquery-scrolltofixed.js"></script>
    <script type="text/javascript" src="Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="Scripts/jquery.isotope.js"></script>
    <script type="text/javascript" src="Scripts/wow.js"></script>
    <script type="text/javascript" src="Scripts/classie.js"></script>
    <!--<script src="contactform/contactform.js"></script>-->

</head>
<body>
    <header class="header" id="header">
        <!--header-start-->
        <div class="container">
            <figure class="logo animated fadeInDown delay-07s">
                <a href="#">
                    <img src="img/logo.png" alt="sheKNOWSrunning - A GirlsRunFast Company">
                </a>
            </figure>
            <h1 class="animated fadeInDown delay-07s">sheKNOWSrunning!</h1>
            <ul class="we-create animated fadeInUp delay-1s">
                <li>WE are women's running!</li>
            </ul>
            <a class="link animated fadeInUp delay-1s servicelink" href="#services">Learn More</a>
            <ul class="we-create animated fadeInUp delay-1s">
                <li>Launching December 2017</li>
            </ul>
        </div>
    </header>
    <!--header-end-->

    <nav class="main-nav-outer" id="test">
        <!--main-nav-start-->
        <div class="container">
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#Calendar">Calendar</a></li>
                <li class="small-logo">
                    <img src="img/small-logo.png" alt="sheKNOWSrunning - A GirlsRunFast Company">
                </li>
                <li><a href="#services">Our Services</a></li>
                <li><a href="#team">About Us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
            <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
        </div>
    </nav>
    <!--main-nav-end-->

    <section class="main-section" id="services">
        <!--main-section-start-->
        <div class="container">
            <h2>our Services</h2>
            <h6>We offer exceptional women's running experiences!</h6>
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-globe"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Great locations</h3>
                            <p>We look for great locations. Not just road runs, but scenery and terrain too.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-gear"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Top-notch event management</h3>
                            <p>Nearly anyone can sponsor an event, but managing one end-to-end to provide the best experience for each and every runner is where we exceed.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-paw"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>pet &amp; stroller friendly</h3>
                            <p>We run with our kids and we run with our dogs. It's a family thing and safety thing. We ensure everyone can participate and plan the experience(s) accordingly.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-car"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Ample parking &amp; facilities</h3>
                            <p>Poor parking, long hikes to the event, massive bathroom lines add to a confusing and unhappy experience. We ensure everything is close, well managed and have the people to help when needed!.</p>
                        </div>
                    </div>
                </div>
                <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                    <img src="img/runners.png" alt="sheKNOWSrunning - A GirlsRunFast Company">
                </figure>
            </div>
        </div>
    </section>
    <!--main-section-end-->

    <section class="main-section alabaster" id="events">
        <!--main-section alabaster-start-->
        <div class="container">
            <div class="row">
                <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
                    <img src="img/runners-start.png" alt="sheKNOWSrunning - A GirlsRunFast Company">
                </figure>
                <div class="col-lg-7 col-sm-8 featured-work">
                    <h2>featured Events</h2>
                    <P class="padding-b">Want your event listed in our featured events section, <a href="#contact">contact us</a> to see how!.</P>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-02s">
                            <i class="fa-heart-o"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-02s">
                            <h4>
                                <a href="http://girlsrunfastwomens10k.com/" target="_blank">
                                    GirlsRunFast Women's 5k, 10k &amp; 15 Challenge!
                                    </h3>
                                </a>
                                <p>Where else can you sign up for a race and get:</p>
                                <p>An awesome shirt, A totally unique medal, A sterling silver 5k or 10k tag. A GirlsRunFast 5k or 10k car sticker. A Set of GirlsRunFast Tattoos. A sterling silver charm runner necklace for placing 2nd or 3rd overall in the 5k, 10k or 15k Challenge. A sterling silver pendant for winning the entire race. Age group finisher awards</p>
                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-04s">
                            <i class="fa-heart-o"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-04s">
                            <h4>
                                <a href="http://phoenixwomenshalf.com/" target="_blank"> Phoenix Women's Half Marathon</a>
                                </h3>
                                <p>The Phoenix Women's Half is a half marathon, 10k and 5k dedicated to bring you a well run event without all of the confusion that comes with large events with thousands of people, long bathroom lines, high prices and inadequate parking.</p>
                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-06s">
                            <i class="fa-heart-o"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-06s">
                            <h4>
                                <a href="http://tucsonwomenshalf.com" target="_blank">
                                    Tucson Women's Half Marathon
                                    </h3>
                                </a>
                                <p>The 2nd Annual Tucson Women's Half is a half marathon, 10k and 5k dedicated to bring you a well run event without all of the confusion that comes with large events with thousands of people, long bathroom lines, high prices and inadequate parking.</p>
                        </div>
                    </div>
                    <!--
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-06s">
                            <i class="fa-heart-o"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-06s">
                            <h4>
                            The Great Cake Run
                            </h3>
                            <p>Coming February 2018</p>
                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-06s">
                            <i class="fa-heart-o"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-06s">
                            <h4>
                            The Big AZ Medal Run
                            </h3>
                            <p>Coming March 2018</p>
                        </div>
                    </div>
                    -->
                    <a class="Learn-More" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!--main-section alabaster-end-->

    <section class="main-section paddind" id="Calendar">
        <!--main-section-start-->
        <div class="container">
            <h2>Calendar</h2>
            <h6>
                Use this calendar to find your event! We've scoured the USA to find the best women's running events out there!<br>
                Event coordinators <a href="#">login here</a> to add an event!
            </h6>
        </div>
        <div class="portfolioContainer wow fadeInUp delay-04s">
            <div class=" Portfolio-box printdesign">
                <a href="calendar.html">
                    <!--<img src="img/Portfolio-pic1.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>Road Running</h3>
                    <p>5k's, 10k's, half's, full's and more!</p>
                </a>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#">
                    <!--<img src="img/Portfolio-pic2.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>Trail Running</h3>
                    <p>Get Dirty!</p>
                </a>
            </div>
            <div class=" Portfolio-box branding">
                <a href="#">
                    <!--<img src="img/Portfolio-pic3.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>Tri's & Du's</h3>
                    <p>Tri or Du we've got it for you!</p>
                </a>
            </div>
            <div class=" Portfolio-box photography">
                <a href="#">
                    <!--<img src="img/Portfolio-pic4.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>Ultra's</h3>
                    <p>Hard-core!</p>
                </a>
            </div>
            <div class=" Portfolio-box branding">
                <a href="#">
                    <!--<img src="img/Portfolio-pic5.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>Fun Runs</h3>
                    <p>Color, bubbles, super heros and more!</p>
                </a>
            </div>
            <div class=" Portfolio-box photography">
                <a href="#">
                    <!--<img src="img/Portfolio-pic6.jpg" alt="">--><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <h3>For a Cause</h3>
                    <p>Run for a cause and help others!</p>
                </a>
            </div>
        </div>
    </section>
    <!--main-section-end-->

    <section class="main-section client-part" id="client">
        <!--main-section client-part-start-->
        <div class="container">
            <b class="quote-right wow fadeInDown delay-03"><i class="fa-quote-right"></i></b>
            <div class="row">
                <div class="col-lg-12">
                    <p class="client-part-haead wow fadeInDown delay-05">Use our calendar to find your event! We've scoured the USA to find the best women's running events out there!</p>
                </div>
            </div>
            <ul class="client wow fadeIn delay-05s">
                <li>
                    <a href="#">
                        <img src="img/client-pic1.jpg" alt="sheKNOWSrunning - A GirlsRunFast Company">
                        <h3>Jameie Bond</h3>
                        <span>
                            Scouring the country <br>
                            to find the best events!
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!--main-section client-part-end-->

    <section class="main-section team" id="team">
        <!--main-section team-start-->
        <div class="container">
            <h2>About us</h2>
            <h6>Take a closer look into our amazing team. We won’t bite.</h6>
            <div class="team-leader-block clearfix">
                <div class="team-leader-box">
                    <div class="team-leader wow fadeInDown delay-03s">
                        <div class="team-leader-shadow">
                            <a href="#"></a>
                        </div>
                        <img src="img/team-leader-pic1.jpg" alt="sheKNOWSrunning - A GirlsRunFast Company">
                        <ul>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-pinterest"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                        </ul>
                    </div>
                    <h3 class="wow fadeInDown delay-03s">Jason Strong</h3>
                    <span class="wow fadeInDown delay-03s">Chief Executive Runner</span>
                    <p class="wow fadeInDown delay-03s">Runner, entrepreneur, professional, animal lover!</p>
                </div>
                <div class="team-leader-box">
                    <div class="team-leader  wow fadeInDown delay-06s">
                        <div class="team-leader-shadow">
                            <a href="#"></a>
                        </div>
                        <img src="img/team-leader-pic2.jpg" alt="sheKNOWSrunning - A GirlsRunFast Company">
                        <ul>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-pinterest"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                        </ul>
                    </div>
                    <h3 class="wow fadeInDown delay-06s">Jes Pinkman</h3>
                    <span class="wow fadeInDown delay-06s">Product Manager</span>
                    <p class="wow fadeInDown delay-06s">Runner, event manager and coordinator.</p>
                </div>
                <div class="team-leader-box">
                    <div class="team-leader wow fadeInDown delay-09s">
                        <div class="team-leader-shadow">
                            <a href="#"></a>
                        </div>
                        <img src="img/team-leader-pic3.jpg" alt="sheKNOWSrunning - A GirlsRunFast Company">
                        <ul>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-pinterest"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                        </ul>
                    </div>
                    <h3 class="wow fadeInDown delay-09s">Skyler whitter</h3>
                    <span class="wow fadeInDown delay-09s">Chief Happiness Officer</span>
                    <p class="wow fadeInDown delay-09s">She ensures your experience is the best it can be!.</p>
                </div>
            </div>
        </div>
    </section>
    <!--main-section team-end-->

    <section class="business-talking">
        <!--business-talking-start-->
        <div class="container">
            <h2>#RunBeautiful</h2>
        </div>
    </section>
    <!--business-talking-end-->
    <div class="container">
        <section class="main-section contact" id="contact">
            <div class="row">
                <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                    <div class="contact-info-box address clearfix">
                        <h3><i class=" icon-map-marker"></i>Address:</h3>
                        <span>
                            PO Box 10358<br>
                            Tempe, AZ 85284
                        </span>
                    </div>
                    <!--
                                <div class="contact-info-box phone clearfix">
                                    <h3><i class="fa-phone"></i>Phone:</h3>
                                    <span>1-800-BOO-YAHH</span>
                                </div>
                                -->
                    <div class="contact-info-box email clearfix">
                        <h3><i class="fa-pencil"></i>email:</h3>
                        <span>hello@sheknowsrunning.com</span>
                    </div>
                    <div class="contact-info-box hours clearfix">
                        <h3><i class="fa-clock-o"></i>Hours:</h3>
                        <span><strong>We're on the web!</strong></span>
                    </div>
                    <ul class="social-link">
                        <li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                        <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                        <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                        <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                    <div class="form">
                        <div id="wufoo-zztw4if124c06z">
                            Fill out my <a href="https://girlsrunfast.wufoo.com/forms/zztw4if124c06z">online form</a>.
                        </div>
                        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
                            There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.
                        </div>
                        <script type="text/javascript">
var zztw4if124c06z;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'girlsrunfast',
'formHash':'zztw4if124c06z',
'autoResize':true,
'height':'560',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zztw4if124c06z = new WufooForm();zztw4if124c06z.initialize(options);zztw4if124c06z.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
                    </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <a href="#">
                    <img src="img/logo.png" alt="sheKNOWSrunning - A GirlsRunFast Company">
                </a>
            </div>
            <span class="copyright">&copy;2017 sheKNOWSrunning. All Rights Reserved</span>
            <div class="credits">
                <a href="https://girlsrunfast.com/">A GirlsRunFast Company</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
    $(document).ready(function (e) {
        //if (localStorage.getItem("accessToken") == null) {
        //    window.location.href = "login.html";
        //}
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false

        });

    });
    </script>
    <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
    </script>
    <script type="text/javascript">
	$(window).load(function(){

		$('.main-nav li a, .servicelink').bind('click',function(event){
			var $anchor = $(this);

			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
      if ($(window).width() < 768 ) {
        $('.main-nav').hide();
      }
			event.preventDefault();
		});
	})
    </script>
    <script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({

            filter: selector,
         });
         return false;
    });

});

    </script>
</body>
</html>